
<a name="arriba" id="arriba"></a>
<article>
  <header>
    <h1>Dominican Republic </h1>
    <p>Made by Julio Lugo 11-III</p>
    
  </header>

<img src="../assets/Map.jfif" alt="Error" width="400" height="200">
<a name="arriba" id="arriba"></a>

<app-buttonabajo></app-buttonabajo>
<ol>
  <li><a href="https://en.wikipedia.org/wiki/Azua,_Dominican_Republic">Azua</a></li>
  <ol>
    <li>Senator: Lia Ynocencia Diaz </li>
    <li>Population of province is of	111,269</li>
    <img src="../assets/OIP.jpg" alt="Error" width="100" height="100">
  </ol>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco">Boaruco</a></li>
  <ol>
    <li>Senator: Melania Salvador Jimenez </li>
    <li>Population of province is of 101,306 </li>
    <img src="../assets/Escudo_de_la_Provincia_Bahoruco.png" alt="Error" width="100" height="100">">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona</a></li>
  <ol>
    <li>Senator: Jose Manuel Del Castillo Savinon </li>
    <li>Population of province is of	1,739.38</li>
    <img src="../assets/Barahona.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Dajab%C3%B3n">Dajabon</a></li>
  <ol>
    <li>Senator: David Rafael Sosa </li>
    <li>Population of province is of	1,020.73</li>
    <img src="../assets/Dajabon.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Distrito_Nacional">Districto Nacional</a></li>
  <ol>
    <li>Senator: Faride Virginia Raful </li>
    <li>Population of province is of	104.44</li>
    <img src="../assets/75px-Escudo_de_la_Provincia_Distrito_Nacional.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Duarte_Province">Duarte</a></li>
  <ol>
    <li>Senator: Franklin Martin Romero </li>
    <li>Population of province is of	1,605.35,</li>
    <img src="../assets/Duarte.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Las_Pi%C3%B1as">Elias Pinas</a></li>
  <ol>
    <li>Senator: Arys Yvan </li>
    <li>Population of province is of	1,426.20</li>
    <img src="..//assets/Elias Pina.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/El_Seibo_Province">link text</a></li>
  <ol>
    <li>Senator: Santiago Jose Zorrila</li>
    <li>Population of province is of 1.786.80</li>
    <img src="..//assets/El seibo.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat</a></li>
  <ol>
    <li>Senator: Carlos Gomez Urena </li>
    <li>Population of province is of	838.62</li>
    <img src="../assets/Espaillat.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Hato_Mayor_Province">Hato Mayor</a></li>
  <ol>
    <li>Senator: Cristobal Medrano Perez </li>
    <li>Population of province is of	1,329.29</li>
    <img src="../assets/Hato Mayor.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Hermanas_Mirabal_Province">Hermanas Mirabal</a></li>
  <ol>
    <li>Senator: Virgilio Cedano Cedano </li>
    <li>Population of province is of	440.43</li>
    <img src="../assets/Hermanas Mirabal.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Independencia_Province">Independencia</a></li>
  <ol>
    <li>Senator: Ivan Jose Silva </li>
    <li>Population of province is of	2,006.44</li>
    <img src="../assets/Escudo_de_la_Provincia_Independencia.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/La_Altagracia_Province">Altagracia</a></li>
  <ol>
    <li>Senator: Ramon Rogelio Genao </li>
    <li>Population of province is of	3,020.34</li>
    <img src="../assets/Altagracia.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/La_Romana_Province,_Dominican_Republic">La Romana</a></li>
  <ol>
    <li>Senator: iVAN Jose Silva </li>
    <li>Population of province is of	653.95</li>
    <img src="../assets/La Romana.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/La_Vega_Province">La Vega</a></li>
  <ol>
    <li>Senator:  Ramon Rogelio Genao </li>
    <li>Population of province is of	2,287.24</li>

    <li><a href="https://en.wikipedia.org/wiki/La_Vega_Province">La Vega</a></li>
  <ol>
    
  </ol>
    <img src="../assets/Escudo_de_la_Provincia_La_Vega.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_S%C3%A1nchez_Province">Maria Trinidad Sanchez</a></li>
  <ol>
    <li>Senator: Alexis Victoria Yeb </li>
    <li>Population of province is of	1,271.71</li>
    <img src="../assets/Escudo_de_la_Provincia_María_Trinidad_Sánchez.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Monse%C3%B1or_Nouel_Province">Monsenor Noeul</a></li>
  <ol>
    <li>Senator: Hector Elpidio Acosta </li>
    <li>Population of province is of	1,924.35</li>
    <img src="../assets/Escudo_de_la_Provincia_Monseñor_Nouel.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Monte_Cristi_Province">Monte Cristi</a></li>
  <ol>
    <li>Senator: Ramon Antonio Pimentel </li>
    <li>Population of province is of 1,924.35</li>
    <img src="../assets/Escudo_de_la_Provincia_Monte_Cristi.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Monte_Plata">Monste Plata</a></li>
  <ol>
    <li>Senator: Lenin Valdez Lopez </li>
    <li>Population of province is of	2,632.14</li>
    <img src="../assets/Escudo_de_la_Provincia_Monte_Plata.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Pedernales_Province">Pedernales</a></li>
  <ol>
    <li>Senator: Dionis Alfonso Sanchez</li>
    <li>Population of province is of	2,074.53</li>
    <img src="../assets/Escudo_de_la_Provincia_Pedernales.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata</a></li>
  <ol>
    <li>Senator: Ginnette Altagracia Bournigal del Jimenez</li>
    <li>Population of province is of	1,852.90</li>
    <img src="../assets/Escudo_de_la_Provincia_Puerto_Plata.svg.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Saman%C3%A1_Province">Samana</a></li>
  <ol>
    <li>Senator: Pedro Manuel Catrain Bonilla </li>
    <li>Population of province is of	853.74</li>
    <img src="../assets/Escudo_de_la_Provincia_Samaná.svg.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Saman%C3%A1_Province">Sanchez Ramirez</a></li>
  <ol>
    <li>Senator: Ricardo de los Santos Polanco </li>
    <li>Population of province is of	1,196.13 </li>
    <img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/San_Crist%C3%B3bal">San Cristobal</a></li>
  <ol>
    <li>Senator: Franklin Alberto Rodriguez </li>
    <li>Population of province is of	1,265.77</li>
    <img src="../assets/Escudo_de_la_Provincia_San_Cristóbal.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://es.wikipedia.org/wiki/San_Jos%C3%A9_de_Ocoa">San Jose de Ocoa</a></li>
  <ol>
    <li>Senator: Jose Antonio Castillo  </li>
    <li>Population of province is of	855.4</li>
    <img src="../assets/Escudo_de_la_Provincia_San_José_de_Ocoa.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://es.wikipedia.org/wiki/Discusi%C3%B3n:San_Juan_(Rep%C3%BAblica_Dominicana)">San Juan</a></li>
  <ol>
    <li>Senator: Felix Ramon Bautista Rosario </li>
    <li>Population of province is of	3,569.39</li>
    <img src="../assets/Escudo_de_la_Provincia_San_Juan.svg.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://es.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs">San Pedro de Macoris</a></li>
  <ol>
    <li>Senator: Franklin Ysaias Pena </li>
    <li>Population of province is of	1,255.46</li>
    <img src="../assets/Escudo_de_la_Provincia_San_Pedro_de_Macorís.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago">Santiago</a></li>
  <ol>
    <li>Senator: Rafael Eduardo Estrella  </li>
    <li>Population of province is of	2,836.51</li>
    <img src="../assets/Santiago.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://www.wikidata.org/wiki/Q2021942">Santiago Rodriguez</a></li>
  <ol>
    <li>Senator: Casimiro Antonio Marte </li>
    <li>Population of province is of	1,111.14</li>
    <img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Santo_Domingo">Santo Domingo</a></li>
  <ol>
    <li>Senator: Antonio Manuel Tavares </li>
    <li>Population of province is of	1,301.84</li>
    <img src="../assets/Escudo_de_la_Provincia_Santo_Domingo.png" alt="Girl in a jacket" width="100" height="100">
  </ol>
  <li><a href="https://en.wikipedia.org/wiki/Valverde_Province">Valverde</a></li>
  <ol>
    <li>Senator: Martin Edilberto Nolasco </li>
    <li>Population of province is of	823.38</li>
    <img src="../assets/Valverde.png" alt="Girl in a jacket" width="100" height="100">
  </ol> 
<app-buttonarriba></app-buttonarriba>
<a name="abajo" id="abajo"></a>